[package]
name = "doughnut_rs"
version = "0.1.0"
authors = ["Centrality Developers <developers@centrality.ai>"]
edition = "2018"

[dependencies]
hashbrown = { version = "0.1.8", features = ["nightly"] }
bit_reverse = { version = "0.1.7", default-features = false }
parity-codec = { version = "3.5.1", default-features = false }

[features]
default = ["std"]
std = []
